footer {
    background-color: rgb(27, 170, 202);
    height: 150px;
    width: 100%;
    color: white;
}

b {
    color: rgb(255, 0, 0);
}

.top_margin {
    padding-top: 35px;
}

p{
    text-align: center;
}